<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true"/>
    <switches>
      <add name="Core" value="Information"/>
    </switches>
    <sources>
      <source name="Core" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="Console"/>
          <add name="ErrorLog"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
      <add name="ErrorLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="pulse.errors.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>